@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body {
   font-family: 'Montserrat', sans-serif;
   background: #f3f3f3;
}
